aniso8601==7.0.0
attrs==19.3.0
certifi==2019.11.28
chardet==3.0.4
graphene==2.1.8
graphql-core==2.3.1
graphql-relay==2.0.1
idna==2.6
multidimensional-urlencode==0.0.4
oauthlib==3.1.0
pkg-resources==0.0.0
pluggy==0.6.0
promise==2.3
py==1.8.1
pytest==3.3.2
requests==2.18.4
requests-oauthlib==0.8.0
Rx==1.6.1
six==1.14.0
urllib3==1.24.2
